body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

body,
html {
    height: 100%;
    line-height: 1.8;
}

/* button padding */
.w3-bar .w3-button {
    padding: 16px;
}

/*==========================================================*/
/* Desktop CSS classes */

/* Add a border for the buttons on the Bountium slide */
.bountium {
    border: 1px solid black;
}

/* Centered text for the header photo */
.centeredHeader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    width: 75%;
}

/* Center an Image with full width */
.centerImageFull {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* Styling for making the two gametracker buttons look better */
.gameTracker {
    margin: 10px;
}

/* Font used for the Header */
.headerFont {
    font-family: "Times New Roman", Times, serif;
}

/* Full height image header */
.headerImage {
    background-position: center;
    background-size: cover;
    background-image: url("../photos/bostonFinancial.png");
    min-height: 100%;
}

/* Class for a large image used at the end of the website*/
.largeImageBoston {
    background-image: url("../photos/stations_boston.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    border-width: 1000px;
    z-index: 1;
}

/* Max Width for header */
.maxWidthHeader {
    max-width: 875px;
    margin: 0 auto !important;
    float: none !important;
}

/* Max Width of 1080px for About Me and Contact */
.maxWidth1080 {
    max-width: 1080px;
    margin: 0 auto !important;
    float: none !important;
}

/* Resume Text Centered with icon in mind */
.resumeText {
    font-size: 24px;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Custom line height used to reduce space between text when small */
.small-line-height {
    line-height: 120%;
}

/* Set the z index for the navigation bars to be high so that the
carousel indicators do not go on top of it when scrolling. */
.topZIndex {
    position: fixed;
    z-index: 25;
}

/*=========================================================*/
/* Mobile CSS classes */

/* Bountium button styling */
.mobile .bountium {
    font-size: 15px;
}

/* Class for a large image used at the end of the website*/
.largeImageBostonMob {
    background-image: url("../photos/stations_boston_mob.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    border-width: 1000px;
    z-index: 1;
}

/* Add a border for the buttons on the gameTracker slide */
.mobile .gameTracker {
    margin: 5px;
    border: 1px solid black;
}

/* Text for a github link made to be centered in a specific photo */
.linkIcon {
    font-size: 15px;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -120%);
}

/* Counter the translation for the gametracker slide by moving it down to fit better */
.linkIcon .gameTracker {
    transform: translate(0%, 190%);
}

/* Mobile Header Text Align */
.mobHeadText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -120%);
    width: 95%;
}

/* Moving the carousel indicators for the mobile version to be closer to the bottom
  and a good width. */
.w3-hide-medium .carousel-indicators {
    margin-block-end: 0;
    bottom: 8px;
    left: 70%;
    right: 50%;
    width: 20%;
}

/*==========================================================*/
/* ID CSS style */

#contact {
    position: relative;
}

#home {
    position: relative;
}

#homeMobContainer {
    position: relative;
}

#homeMob {
    position: relative;
}

#projects {
    position: relative;
}

#projectsMob {
    position: relative;
}

#resume {
    position: relative;
}

#resumeContainer {
    background-color: #d8d8d8;
    position: relative;
}

#resumeMobContainer {
    position: relative;
}

#resumeMob {
    position: relative;
}
